// Цвет простого текста
// Цвет после # писить 
// позиционирование
// потом дисплай
// ентером разделять
$color-gray: #2f2d2d;
$color-green: #2a7d03;
$color-green-bright: #309003;
$color-green-black: #226702;
$color-black-gray: #363636;
$color-white-gray: #c4c4c4;
$color-white: #fff;
$color-black: #000000;

// Цвет рамки кнопки
$border-size-1: 1px;
$border-size-2: 2px;
$border-size-4: 4px;

// Radius у кнопок
$radius: 5px;
$radius-right: 0px 5px 5px 0px;
$radius-left: 5px 0px 0px 5px;
$radius-top: 5px 5px 0px 0px;

// Размер, цвет ТЕНИ блока
$box-shadow-sm: 2px 2px 5px 0px rgba(0, 0, 0, 0.05);
$box-shadow-normal: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);

$gap-20: 20px;
$gap-15: 15px;

$size-block-20: 20px;
$size-block-310: 310px;
$size-block-350: 350px;

// Пк версия
// Имя стиял текста
$font-face: 'Geometria';

// Толщина текста
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-800: 800;

// Пк версия
$font-size-sm: 12px;
$font-size-xl: 14px;
$font-size-2xl: 16px;
$font-size-3xl: 18px;
$font-size-4xl: 20px;
$font-size-5xl: 36px;

// mobile size 
// main-titles
$font-size-mobile: 22px;
$font-size-mobile-hi: 24px;
    
