$main-color-text: #2F2D2D;
$main-color-text: #2A7D03;
$main-color-text: #363636;
$main-color-text: #C4C4C4;
$main-color-text: #FFF;
$main-color-text: #000000;

$main-color-background-button-black: #2F2D2D;
$main-color-background-button-green: #2A7D03;
$main-color-background-button-white: #F8F7F7;
// Ещё прозрачный

$main-color-text-button-white: #FFF;
$main-color-text-button-green: #2A7D03;
$main-color-text-button-white: #FFF;

$main-border-button-white: 2px solid #FFF;
$main-border-button-green-2: 2px solid #2A7D03;
$main-border-button-green-1: 1px solid #2A7D03;

$box-shadow-all-1: 2px 2px 5px 0px rgba(0, 0, 0, 0.05);
$box-shadow-all-2: 0px 1px 5px 0px rgba(0, 0, 0, 0.10);

// Пк версия
$app-font-face: 'Geometria';
$app-font-weight-regular1: 300;
$app-font-weight-regular2: 400;
$app-font-weight-regular3: 500;
$app-font-weight-medium4: 700;
$app-font-weight-bold5: 800;

// Пк версия
$app-font-size: (
    'size': 12px,
    'line-height': normal,
);

$app-font-size: (
    'size': 14px,
    'line-height': normal,
);

$app-font-size: (
    'size': 16px,
    'line-height': normal,
);

$app-font-size: (
    'size': 18px,
    'line-height': normal,
);

$app-font-size: (
    'size': 20px,
    'line-height': 20px,
);

$app-font-size: (
    'size': 36px,
    'line-height': 40px,
    // Белый текст 'line-height': 50px, который висит вверху 
);

$app-font-size: (
    'size': 60px,
    'line-height': 60px,
);



// mobile size 
// main-titles
$app-font-size: (
    'size': 22px,
    'line-height': normal,
);

$app-font-size: (
    'size': 24px,
    'line-height': 40px,
);